## Desktop service store
.DS_Store

## User settings
# git rm --cached [project].xcodeproj/project.xcworkspace/xcuserdata/[username].xcuserdatad/UserInterfaceState.xcuserstate
# git commit -m "Removed file that shouldn't be tracked"
xcuserdata/
