<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266993601724-jdmp05qtrv0rpot2640e9mlpc3acjld7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266993601724-jdmp05qtrv0rpot2640e9mlpc3acjld7</string>
	<key>API_KEY</key>
	<string>AIzaSyCtyCuvgpsp8TjiZbrJySfIcYEZRoXBJDY</string>
	<key>GCM_SENDER_ID</key>
	<string>266993601724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>llc.toggle.Max-Sergent</string>
	<key>PROJECT_ID</key>
	<string>max-sergent</string>
	<key>STORAGE_BUCKET</key>
	<string>max-sergent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266993601724:ios:6b476831d8262ff81854b9</string>
	<key>DATABASE_URL</key>
	<string>https://max-sergent.firebaseio.com</string>
</dict>
</plist>