<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949718921668-48g46s2cufrnd500gn1hmj0pu00fsd01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949718921668-48g46s2cufrnd500gn1hmj0pu00fsd01</string>
	<key>API_KEY</key>
	<string>AIzaSyA72lHG3nzrDXCNg1oKyqRiMmDXI7zB2dg</string>
	<key>GCM_SENDER_ID</key>
	<string>949718921668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>llc.toggle.Max-Sergent-maxrgnt</string>
	<key>PROJECT_ID</key>
	<string>max-sergent-45387</string>
	<key>STORAGE_BUCKET</key>
	<string>max-sergent-45387.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949718921668:ios:d231f8f1b88e901654f491</string>
	<key>DATABASE_URL</key>
	<string>https://max-sergent-45387.firebaseio.com</string>
</dict>
</plist>